.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.page-button.active {
  background-color: #282c34;
  border-color: white;
  color: #fff;
}

.page-button:hover {
  background-color: #007bff;
  border-color: white;
  color: #fff;
}