.layer-headline {
  background-color: white;
  font-family: Arial, sans-serif;
  color: black;
  text-align: center;
  font-size: 24px;
}

.order-overview {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.item-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.item-name {
  font-size: 18px;
  flex-grow: 1;
}

.remove-button {
  background-color: #282c34;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.remove-button:hover {
  background-color: #007bff;
  border-color: white;
  color: #fff;
}

.remove-button:disabled {
  background-color: #d3d3d37c;
  cursor: not-allowed;
}

.order-summary {
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid #ccc;
  font-size: 18px;
  font-weight: bold;
}

.modal {
  max-height: 80vh;
  overflow-y: auto;
}