.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.product-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}